body, html {
    height: 100%;
  }
  
  .parallax {
    /* The image used */
    background-image: url('images/Tryzub-collage.png');

  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
  }

  .title{
    position: absolute;
    padding-top: 250px;
    color: white;
    padding-left: 10px;


  }

  #header-1{
    font-size: 4.5rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 900 !important;
    color: #f5f6f7;
}

#header-2{
    font-size: 1.5rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 200 !important;
    color: white;
}

@media (max-width: 544px) {  
    #header-1 {font-size:3.5rem; padding-top:-200px; } }

@media (max-width: 544px) {  
    #header-2 {font-size:2rem;padding-top:-200px; } }

@media (max-width: 544px) {
    .title{
        padding-top: 200px;
    }
}

  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
    color: #f7f719 !important;
  }

  h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 900 !important;
    color: #f5f6f7;
  }

  h2{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600 !important;
  }

  h3{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500 !important;

  }

  h4{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400 !important;
  }

  h5{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300 !important;
      
  }

  h6{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 200 !important;
    color: white;

  }


  p {
    font-family: 'Lato', sans-serif;

}







* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.timeline {
    position: relative;
    padding: 20px;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color:#f7f719;
    top: 0;
    bottom: 0;
    left: 5%;
    margin-left: -3px;
    z-index: 1;
}
.container {
    position: relative;
    width: 50%;
    min-height: 120px;
    left: 10%;
    padding-left: 70px;
    text-align: left;
    padding-bottom: 50px;
}

.content {
    padding: 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}
.container .content::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 35px;
    width: 0;
    z-index: 1;
    border: medium solid white;
}

.container .content::before {
    left: -10px;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.content span {
    color: #25adcd;
    font-size: 1.1em;
    font-weight: bold;
}


.card {
    transition: 0.3s;
    width: 50%;
    padding-bottom: 30px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  
