.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgb(236, 243, 252)
}


  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}



header {
  padding-top: 9.5rem;
  padding-bottom: 6rem;
  font-family: Barlow;
  background-color: rgb(89, 132, 242) ;
}

section {
  padding-top: 9rem;
  padding-bottom: 9rem;
}
.lead {
font-size: 1.25rem;
  font-weight: 300;
}

footer {
  padding-top: 1rem !important;
  padding-bottom: 4rem !important;
  font-family: Barlow;
  background-color: rgb(2, 27, 55)
}

.modal-dialog-scrollable .modal-dialog  {
  height: calc(100% - 1rem);
}
