.container{
    color: pink;
    text-align: center;

}

.row{
    color: red;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.gift{
    color: lightcoral;
}

.message{
    color: lightcoral;
}

.from{
    color: lightcoral;
}

.to{
    color: lightcoral;

}

.submit{
    color: pink;
    border-width: 0.5rem;
    border-color:pink;
}