p{
  color: white;
  font-family: 'Barlow Condensed', sans-serif !important;
  font-weight: 400 !important;
}

h1{
  color: white;
  font-family: 'Barlow Condensed', sans-serif !important;
  font-weight: 900 !important;
  text-align: center;
  padding-top: 100px;
}

h2{
  color: white;
  font-family: 'Barlow Condensed', sans-serif !important;
  font-weight: 800 !important;

}

h3{
  color: white;
  font-family: 'Barlow Condensed', sans-serif !important;
  font-weight: 700 !important;

}

h4{
  color: white;
  font-family: 'Barlow Condensed', sans-serif !important;
  font-weight: 600 !important;

}

h5{
  color: white;
  font-family: 'Barlow Condensed', sans-serif !important;
  font-weight: 500 !important;

}


  h6{
    color: white;
    font-family: 'Barlow Condensed', sans-serif !important;
    font-weight: 400 !important;
  
}

.audioPlayer{
  padding-top: 20px;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.container:hover .overlay {
  opacity: .8;
}

.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

footer{
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}